<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>iPhone 7</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="body">
    <div class="screen">
      <div class="front-camera">
      </div>
      <div class="sensor">
      </div>
      <div class="speaker-grill">
      </div>
      <div class="home-button">
        <audio id="clickSoundPress" src="http://s1.vocaroo.com/media/download_temp/Vocaroo_s1eeDQkT4IdA.mp3" </a>
        <audio id="clickSoundRelease" src="http://s0.vocaroo.com/media/download_temp/Vocaroo_s0p9bqcVACTL.mp3" </a>
      </div>
    </div>
</div>
  
    <script src="js/index.js"></script>

</body>
</html>
