<!-- Real Life Interactions Section -->
<section id="automation" class="content-section text-center">
    <div class="automation">
        <div class="container">
          <div class="col-md-12 automation-header">
            <h1>Use Beacons as Triggers</h1>
          </div>

          <div class="col-md-6 col-md-offset-3 text-left ">
            <p class="subheader">
              Trigger actions both in-app and with easy to use platforms such as IFTTT and OctoBlu
            </p>
          </div>

          <div class="col-md-12">
            <img src="img/automation.png">
          </div>
        </div>
    </div>
</section>
