    <!-- About Section -->
    <section id="beacon" class="container content-section">
        <div class="row">
          <div class="col-md-6">
            <h2>What is a beacon?</h2>
            <p>A beacon is a hardware device that uses Bluetooth Low Energy (BLE) to transmit a unique identifier only visible to devices nearby.  Mobile apps can use the unique identifiers to create actions when at a certain proximity from the beacon like ordering your favorite iced macchiato when you are walking in the door of your favorite coffee shop or sending you on a digital treasure hunt.</p>
          </div>

          <div class="col-md-6">
            <img class="beacon" src="img/beacon.png">
          </div>
        </div>
    </section>
