<!-- Real Life Interactions Section -->
<section id="context" class="container content-section text-center">
    <div class="download-section">
        <!-- <div class="container"> -->
          <div class="row">
            <div class="col-sm-5 col-lg-12">
              <img id="bus-stop" style="float: left; max-width: 100%;" src="img/bus-stop.png">
            </div>
            <div class="col-sm-7 col-lg-12 align-left">
              <h1>Improve experience with context</h1>
              <p>
                Don't make your users think&#8212;the best interface is no interface. <br><br>

                With Saguaro, rules can trigger actions like opening the bus schedule when a user approaches a bus stop or playing audio for a guided walking tour of the city as tourists walk by local landmarks.<br><br>

                Trigger actions and measure precise location both indoors and outdoors, when your users are within the network. <br>
              </p>
            </div>
          </div>

        <!-- </div> -->
    </div>
</section>
