<!-- Real Life Interactions Section -->
<section id="get-started" class="content-section text-center">
    <div class="">
        <div class="container">
          <div class="col-md-12 get-started-header">
            <h1>Getting Started</h1>
          </div>

          <!-- <div class="col-md-12"> -->
            <!-- Step 1 -->

            <div class="row">

              <div class="step col-md-6 col-md-offset-3">
                <img class="get-started-img" src="img/saguaro-browser.png">
                <h2>Step 1: <a id="open">Create an account</a></h2>
              </div>



            </div>

            <div class="row">
              <div class="step col-md-6">
                <img class="get-started-img" src="img/addSDK.png">
                <h2>Step 2: Add SDK to mobile app</h2>
              </div>

              <div class="step col-md-6">
                <img class="get-started-img" src="img/rule-browser.png">
                <h2>Step 3: Create a rule</h2>
              </div>
            </div>


          <!-- </div> -->

        </div>
    </div>
</section>
