    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                  <div class="col-md-5" style="text-align: left;">
                    <h1>Ready to use network of IoT devices</h1>
                    <p class="subheader">Create actions based on where your users are and what's around them with more precision and less energy consumption than GPS through our open Bluetooth beacon network. </p>
                  </div>
                  <div class="col-md-7 flatcity">
                    <img src="{{site.url}}/img/flatcity.png">
                  </div>
                </div>
            </div>
        </div>
    </header>
