    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1 one-liner">
                    <p><span style="font-weight: bolder">SONORA Data</span> deploys smart city infrastructure, so you can focus on improving your end user’s experience.</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-2 col-md-offset-5">
                    <a class="page-scroll" href="#get-started">
                      <button type="button" class="btn" id="get-started-btn" href="#get-started" >Get Started</button>
                    </a>
                  </div>
                </div>

            </div>
        </div>
    </header>
