<!-- Real Life Interactions Section -->
<section id="real-life-interaction" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 style="margin-bottom: 5px">Adding Real Life Interactions to Applications</h2>
                <p style="margin-top: 10px">Use beacon signals to trigger events that interface with the web and area around you</p>
            </div>

            <div class="row">
              <div class="col-md-6" id="interaction-examples">
                <h2>Here are a few examples:</h2>

                <div class="row">

                  <div class="col-md-10">
                    <div class="interaction-item">
                      <p><strong>Automate your routine:</strong><br>
                         Have your coffee ready when you walk in the door
                      </p>
                    </div>
                  </div>

                  <div id="coffee" class="col-md-2">
                    <i class="fa fa-bluetooth-b fa-3x bluetooth-logo"></i>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-10">
                    <div class="interaction-item">
                      <p><strong>Leverage location:</strong><br>
                         Target the right customer and their interests
                      </p>
                    </div>
                  </div>
                  <div id="sneaker" class="col-md-2">
                    <i class="fa fa-bluetooth-b fa-3x bluetooth-logo"></i>

                  </div>
                </div>

                <div class="row">

                  <div class="col-md-10">
                    <div class="interaction-item">
                      <p><strong>Automate your commute:</strong><br>
                         Call a ride when you're walking out the door.
                      </p>
                    </div>
                  </div>
                  <div id="ride" class="col-md-2">
                    <i class="fa fa-bluetooth-b fa-3x bluetooth-logo"></i>

                  </div>
                </div>

                <div class="row">

                  <div class="col-md-10">
                    <div class="interaction-item">
                      <p><strong>Give the right information at the right time</strong><br>
                         Create a virtual walking tour of a city that points out all the right places
                      </p>
                    </div>
                  </div>
                  <div id="history" class="col-md-2">
                    <i class="fa fa-bluetooth-b fa-3x bluetooth-logo"></i>

                  </div>
                </div>






              </div>
              <div class="col-md-6">
                <img class="screen" src="img/iphone/coffee-screen.png">
                <img class="screen" src="img/iphone/shoes-screen.png">
                <img class="screen" src="img/iphone/ride-screen.png">
                <img class="screen" src="img/iphone/history-screen.png">

              </div>
            </div>
        </div>
    </div>
</section>
