<section id="our-network" class="content-section">
  <div class="container row hcenter">
    <div class="col-md-6">
      <img id="beaconmap" src="img/map.png">
    </div>
    <div class="col-md-6">
      <h1>Our Network</h1>
      <p>We have chosen to beta test the Sonora Beacon Network on Mill Avenue in Tempe, Arizona located just beside Arizona State University, the nation's largest public university.  Being beside the university, the neighborhood offers a unique opportunity to test the network with an audience of millenials who carry their smartphone everywhere they go.</p>
      <div class="col-md-12">
        <p>
          The neighboring area offers:<br><br>
          <strong>10</strong> beacons deployed<br>
          <strong>50+</strong> restaurants<br>
          <strong>20+</strong> nightlife offerings<br>
          <strong>20+</strong> points of cultural interest<br><br>
          <span style="float: right; margin-right: 20px;">Source: <a href="http://www.downtowntempe.com/explore">Downtown Tempe</a></span>

        </p>
      </div>
    </div>
  </div>
  <div class-"col-md-12">

  </div>
</section>
