<section id="our-network" class="content-section">
  <div class="container row hcenter">
    <div class="col-md-6">
      <img id="beaconmap" src="img/map.png">
    </div>
    <div class="col-md-6 align-left">
      <h1>Our Network</h1>
      <p>We've deployed a network of beacons on Mill Ave in Tempe.  Beacons are outside stores, on sidewalks, outside restaurants, and at landmarks. The possibilities are endless.</p>
        <p>
          The neighboring area offers:<br><br>
          <strong>10</strong> beacons deployed<br>
          <strong>50+</strong> restaurants<br>
          <strong>20+</strong> nightlife offerings<br>
          <strong>20+</strong> points of cultural interest<br><br>
          <span style="float: left;">Source: <a href="http://www.downtowntempe.com/explore">Downtown Tempe</a></span>

        </p>
    </div>
  </div>
  <div class-"col-md-12">

  </div>
</section>
