    <!-- What is a Smart City? Section -->
    <section id="smart-city" class="container content-section">
        <div class="row">
          <div class="col-md-7">
            <h1>Bringing the real world online</h1>
            <p>SONORA Data uses BLE beacons and Internet of Things (IoT) to add the real world to mobile applications.
            <br><br>
            Whether you want to create games, automate ordering coffee from your favorite cafe, or help the blind navigate the city, our Saguaro platform simplifies IoT to just a few lines of code.</p>
          </div>

          <div class="col-md-5">
            <img class="img-center" src="img/StreetLight.png">
          </div>
        </div>
    </section>
